body {
	font-family: 'Noto Serif TC', serif;
    width: 375px;
}


#header p {
    color:rgb(51, 51, 51);
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight:  bold;
    font-family: 'Maven Pro', serif;
}


.left {
    height: 20px;
    padding: 0 2px 0 0; 
    vertical-align: -10%;
}

.icon {
    height: 13px;
    opacity: 0.7;
    vertical-align:middle;
}


#hour, #minute{
    font-weight:  bold;
    font-size: 15px;
    border: 6px solid transparent;
    overflow:scroll;
    font-family: 'Maven Pro', serif;
}

button {
    border-radius: 100px; 
    height: 20px;
    width: 20px;
    border: none;
    background-color: inherit;
    /* color: rgba(216, 37, 5, 0.596);  */
    color: rgb(119, 119, 119);
    font-weight: solid;
    cursor: pointer;
}

#button1 {
    border-radius: 20px; 
    height: 20px;
    width: 60px;
    padding-bottom: 20px; 
    font-weight:  bold;
    font-size: 15px;
    border: 1.5px solid ;
    border-color: rgb(216, 214, 214);
    color: black;
    font-family: 'Maven Pro', serif;
}

ul {
    list-style-type:none;
}

#time_list {
    margin-top: 25px;
    font-size: 15px;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 90px;
    width: 100%;
    font-family: 'Maven Pro', serif;
}


#notification {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    font-family: 'Maven Pro', serif;
}

#right {
    float:right;
    height: 100px;
    width: 11px;
}

#left {
    float:left;
    height: 100px;
    width: 15px;
}

#notification input{
    width: 50%;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-family: 'Maven Pro', serif;
}

::placeholder {
    text-align: center;  
    font-size: 16px;
}

#bottom {
    margin-bottom: 10px;
    height: 10px;
    float: bottom;
    font-size: 12px;
    font-weight:  bold;
}

#middle {
    /* margin-top: 5px; */
    height: 20px;
    font-size: 12px;
    font-weight:  bold;
    text-align: center;
    font-family: 'Maven Pro', serif;
    color: rgb(155, 3, 3);
}

table {
    padding-top: 10px;
    font-size: 15px;
    overflow:scroll;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 90px;
    width: 100%;
    font-family: 'Maven Pro', serif;
}

table th{
    font-weight:  lighter;
    color: rgb(104, 104, 104);
}